services:
  db:
    image: postgres
    container_name: postgres_psychopath_master
    volumes:
      - db-store:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: local-password

networks:
  app_network:
    external: true
volumes:
  db-store:
